#header {
    position: fixed;
    width: 100%;
    height: 67px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

#logo-header {
    width: 60px;
    margin-top: 4px;
}

.header-icon{
    width: 32px;
}

.user-header-icon{
    width: 36px;
}

#hamb-button{
    position: absolute;
    left: 0;
    margin-left: 16px;
}

#header-options{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    margin-right: 16px;
}

#main-menu-options{
    display: none;
}

#main-menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: 0;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    
    background-color: var(--color-black);
    
    transform: translateX(-100vw);
    transition: transform 0.3s ease;
}

#close-menu{
    padding: 16px;
}

#main-menu-options{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    margin-left: 70px;
}

.link-seccion {
    font-size: 30px;
    color: var(--color-gray5);
    margin-bottom: 18px;
}

.link-secundario {
    font-size: 17px;
    color: var(--color-gray5);
    margin-bottom: 16px;
}

#link-planes{
    display: none;
}

#link-ayuda{
    display: none;
}

#separador-main-menu{
    margin-bottom: 32px;
}

#ingresar-btn{
    display: none;
}

.invitado #user-menu-btn{
    display: none;
}

.invitado .opcion-user-registrado{
    display: none;
}

.user .opcion-user-invitado{
    display: none;
}

#user-menu-btn span{
    display: none;
}

#logo-menu {
    position: absolute;
    bottom: 48px;
    width: 40px;
    /* margin-top: 200px; */
}

#header .search-bar{
    display: none;
}

#menu-search-button{
    margin-top: 2px;
}

#user-menu{
    position: absolute;
    top: 67px;
    right: 0;
    display: flex;
    flex-flow: column;
    background-color: var(--color-black);
    row-gap: 12px;
    padding: 16px 32px 16px 16px;
    transform: translateX(100%);
    transition: transform 0.3s ease;

}

@media(min-width:768px) {
    
    #link-logo{
        position: absolute;
        left: 0;
        padding-left: 32px;
        margin-top: 4px;
    }

    #hamb-button{
        display: none;
    }

    #logo-header {
        width: 60px;
    }

    #user-menu{
        display: none;
    }

    #header-options{
        margin-right: 32px;
    }

    #header-options a{
        display: inline-flex;
    }

    #header .search-bar{
        display: inline-flex;
        max-height: 40px;
    }

    #main-menu{
        display: none;
    }

    .link-seccion {
        font-size: initial;
        margin-bottom: 0px;
        margin-right: 32px;
        color: var(--color-gray5);
    }

    .link-seccion:hover {
        color: var(--color-gray6);
        outline: 10px solid var(--color-tr2);
        background-color: var(--color-tr2);
    }

    #user-menu-btn:hover span{
        text-decoration: underline;
    }

    .link-secundario {
        display: none;
    }

    .invitado #ingresar-btn {
        display: inline-block;
    }
    
    .user #ingresar-btn {
        display: none;
    }
        
    .user #user-menu-btn{
        display: flex;
        align-items: center;
        column-gap: 4px;
    }
    
    .user #user-menu-btn span{
        display: inline-flex;
    }

    .user #user-menu-btn svg{
        width: 40px;
    }

    #header #search-input{
        display: inline-flex;
        width: 25vw;
    }

    .header-icon{
        width: 28px;
        padding: 8px;
    }

    #menu-search-button{
        display: none !important;
    }

    #search-button{
        background-color: var(--color-tr1);
        border-bottom: 1px solid var(--color-gray4);
    }

    #header .search-bar .header-icon{
        width: 24px;
        color: var(--color-gray4);
    }
    
    #header .search-bar .header-icon:hover{
        color: var(--color-gray6);
    }

}